html, body {
	scroll-behavior: smooth;	
}
body{
	margin:0;
	padding:0;
	font-family:helvetica;
}
header{
	width:100%;
	height:67px;
	background-color:#3B5998;
	color:#FFF;
}
.topoesq{
	margin-left:18px;
	line-height:67px;
	font-size:30px;
	float:left;
}
.topodir{
	height:67px;
	font-size:20px;
	float:right;
}
.topoesq a{
	text-decoration:none;
	color:#FFF;
}
.topodir ul{
	list-style:none;
}
.topodir ul li{
	display:inline;
	margin-right:20px;
}
.topodir li a{
	text-decoration:none;
	color:#FFF;
}
.zuck {
	margin-top:40px;
}
.zuck img {
	width:495px;
	height:248px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.zuck-credits {
	width:495px;
	height:30px;
	background-color:#B3CDE6;
	margin-right:auto;
	margin-left:auto;
	line-height:30px;
}
.zuck-text {
	font-size:18px;
	text-align:center;
}
.zuck-text a{
	text-decoration:none;
	color:#1EA4E5;
}
.zuck-text img{
	height:13px; 
	width:13px;
}
.zuck-atglance {
	margin-top:60px;
	margin-left:145px;
	margin-right:145px;
	color:#3C3C3C;
}
.zuck-atglance span {
	font-size:22px;
}
.zuck-atglance p{
	font-size:14px;
}
.zuck-timeline {
	margin-top:60px;
	margin-left:145px;
	margin-right:145px;
	color:#3C3C3C;
}
.zuck-timeline span {
	font-size:22px;
}
.zuck-timeline p{
	font-size:14px;
}
.zuck-timeline p a{
	text-decoration:none;
	color:#3C3C3C;
}
.zuck-more {
	margin-top:60px; 
	margin-left:145px;
	color:#3C3C3C;
}
.zuck-more span {
	font-size:22px;
}
.zuck-more-rectangle {
	margin-top: 34px;
	margin-left:145px;
	height:155px;
	width:6px;
	background-color:#3B5998;
	color:#3C3C3C;
}
.zuck-more-rectangle p {
	margin-left:30px;
	width:677px;
	height:155px;
	font-size:27px;
	color:#3C3C3C;
}
.zuck-sources {
	margin-top:60px;
	margin-left:145px;
	margin-right:145px;
	color:#3C3C3C;
}
.zuck-sources span {
	font-size:22px;
}
.zuck-sources-1 {
	margin-top:20px;
	width:705px;
	height:45px;
	border:1px solid #E0E0E0;
	line-height:45px;
}
.zuck-sources-2 {
	width:705px;
	height:45px;
	border:1px solid #E0E0E0;
	line-height:45px;
}
.zuck-sources-1 a {
	margin-left:21px;
	text-decoration:none;
	color:#6EC3BB;
}
.zuck-sources-2 a {
	margin-left:21px;
	text-decoration:none;
	color:#6EC3BB;
}
.zuck-sources-1 a img {
	height:20px;
	width:20px;
}
.zuck-sources-2 a img {
	height:20px;
	width:20px;
}
footer {
	margin-top:20px;
	height:60px;
	width:100%;
	background-color:#3B5998;
	color:#fff;
	line-height:60px;
	text-align:center;
}
footer a{
	text-decoration:none;
	color:#fff;
}